.venv
.env
.DS_Store
*.pyc
__pycache__
*.jsonl
*/node_modules

data/
client/config*.json
client/reliquary*

# IDE
.idea/
*.iml
.vscode/

# Android
local.properties
captures/
.externalNativeBuild/
.cxx/
client/android/.gradle
client/android/build
client/android/app/libs
client/android/app/build
client/android/app/src/main/assets/

# Web
web/dist/